%section#portfolio.no-padding
  .container-fluid
    .row.no-gutter.popup-gallery
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/1.jpg"}
          = image_tag 'fotos/1.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Back-End DEV
              .project-name
                %q So many books, so little time.
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/2.jpg"}
          = image_tag 'fotos/2.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                [Back/Front] - End DEV
              .project-name
                %q You only live once, but if you do it right, once is enough.
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/3.jpg"}
          = image_tag 'fotos/3.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Designer
              .project-name
                %q Don't cry because it's over, smile because it happened.
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/4.jpg"}
          = image_tag 'fotos/4.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Front-End DEV
              .project-name
                %q Be the change that you wish to see in the world.
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/5.jpg"}
          = image_tag 'fotos/5.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Team-Lead
              .project-name
                %q Be yourself, everyone else is already taken.
      .col-lg-4.col-sm-6
        %a.portfolio-box{:href => "img/portfolio/fullsize/6.jpg"}
          = image_tag 'fotos/6.jpg', class: 'img-responsive'
          .portfolio-box-caption
            .portfolio-box-caption-content
              .project-category.text-faded
                Idea-Generators
              .project-name
                %q The difference between success and failure is a great team.
